<div class="board_block" style="top:{{data.top}}px;left:{{data.left}}px;">
    <div class="board_block_close-button" ng-click="removeBlock()">X</div>
    <div class="board_block_warning" ng-if="content === null">! Block mark up<br />is not found</div>
    <div class="board_block_title" ng-bind="data.name"></div>
    <textarea class="board_block_textarea" ng-model="content" ng-focus="onFocus()" ng-blur="onBlur()"></textarea>
    <div class="board_block_footer">
        <button ng-click="saveBlockContent()" ng-if="contentIsChanged">Save</button>
    </div>
    <div class="block_connector" ng-click="addConnection()" ng-if="connectionStep">
        <div>Click here to choose</div>
        <div>as <strong ng-bind="connectionStep"></strong> block</div>
    </div>
</div>