<div class="dialog" ng-if="connection" style="left:{{x}}px;top:{{y}}px;">
    <div class="dialog_close-button" ng-click="hideDialog()">X</div>
    <div class="dialog_title">Connection properties</div>
    <div class="dialog_body">
        <div class="dialog_row">
            From line: <input type="number" max="100" ng-model="connection.from.line" class="__line-number" />
            <button ng-click="hideDialog()">Ok</button>
        </div>
        <div class="dialog_row">
            <button class="__red-link" ng-click="removeConnection()">Remove connection</button>
        </div>
    </div>
</div>