<html>
    <head>
        <title>Aphs editor</title>
        <link href="style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="script.js"></script>
    </head>
    <body>
        <div class="app" ng-app="app">
            <div class="body" ng-controller="bodyController">
                <div class="menu">
                    <!--<button class="__link">Create context</button>-->
                    <button ng-click="showContextsList()">Open context</button>
                    <div class="context-controls" ng-if="context !== null">
                        <button ng-click="saveContext()" >Save context: {{context.name}}</button>
                        <button ng-click="showBlocksList()">Add block</button>
                        <button ng-click="addConnection()">Add connection</button>
                    </div>
                </div>
                <div class="main">
                    <contexts-list-dialog></contexts-list-dialog>
                    <blocks-list-dialog></blocks-list-dialog>
                    <connection-dialog context="data.context"></connection-dialog>
                    <div class="board-container">
                        <div class="board" style="top:{{context.position.top}};left:{{context.position.left}}">
                            <board-block ng-repeat="(key, block) in context.blocks track by $index" key="key" data="block" content="context.contents[block.name]"></board-block>
                            <board-connection ng-repeat="(key, connection) in context.connections track by $index" key="key" data="connection" from="context.blocks[connection.from.block]" to="context.blocks[connection.to.block]"></board-connection>
                        </div>
                        <div class="board-panner" ng-mousedown="panBoard($event)"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
