<html>
    <head>
        <title>Aphs editor</title>
        <link href="style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="script.js"></script>
    </head>
    <body>
        <div class="app" ng-app="app">
            <div class="body" ng-controller="bodyController">
                <div class="menu">
                    <!--<button class="__link">Create context</button>-->
                    <button class="__link" ng-click="showContextsList()">Open context</button>
                    <button class="__link" ng-click="saveContext()"    ng-if="context !== null">Save context: {{context.name}}</button>
                    <button class="__link" ng-click="showBlocksList()" ng-if="context !== null">Add block</button>
                </div>
                <div class="main">
                    <contexts-list-dialog></contexts-list-dialog>
                    <blocks-list-dialog></blocks-list-dialog>
                    <connection-dialog context="data.context"></connection-dialog>
                    <div class="board">
                        <board-block ng-repeat="(key, block) in context.blocks" key="key" data="block" content="context.contents[block.name]"></board-block>
                        <board-connection ng-repeat="(key, connection) in context.connections" key="key" data="connection" from="context.blocks[connection.from.block]" to="context.blocks[connection.to.block]"></board-connection>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
