html, body {
    width:100%;
    height:100%;
    margin:0;
    font-size: 14px;
    font-family: monospace;
}

.app {
    width:100%;
    height:100%;
}


.body {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.menu {
    width:100%;
    height:50px;
    background:#f5f5f5;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding:10px 15px;
}
.context-controls {
    display: flex;
    align-items: center;
}
button{
    font-size:1rem;
    border: 0;
    background: #37ce30;
    color: white;
    border-radius: 20px;
    padding: 3px 8px;
    cursor: pointer;
}
button.__big {
    font-size:1.3rem;
}
button:hover {
    background: #ca3ece;
}
button.__red-link {
    background: none;
    border-bottom: 1px solid red;
    color: red;
    padding: 0 0 3px 0;
    border-radius: 0;
}
button.__red-link:hover {
    border-bottom: 1px solid #62a0ff;
    color: #62a0ff;
}
.menu button {
    margin-right:10px;
}



    /*----------*/
    /*   MAIN   */
    /*----------*/



.main {
    flex-grow: 2;
    position: relative;
    display: flex;
}


.board-container {
    width:100%;
    overflow: hidden;
    position: relative;
}

.board-panner {
    cursor: hand;
    background: #fff;
    width:100%;
    height:100%;
}

.board {
    position: absolute;
}


    /*------------*/
    /*   Blocks   */
    /*------------*/



.board_block {
    position: absolute;
}
.board_block_close-button {
    position:absolute;
    top:-30px;
    right:0;
    cursor: pointer;
    width:30px;
    height:30px;
    line-height: 30px;
    text-align: center;
}
.board_block_title {
    position:absolute;
    line-height: 30px;
    height:30px;
    top:-30px;
    color: #2196F3;
}
.board_block_warning {
    color: red;
    margin-bottom: 5px;
}
.board_block_textarea {
    border:1px solid #e8e8e8;
    padding:6px 9px;
    line-height: 16px;
    font-family: monospace;
    font-size: 14px;
    resize: none;
    border-radius: 4px;
    background: transparent;
}
.board_block_footer {
    margin-top:5px;
}
.block_connector {
    position: absolute;
    top:0; right:0; bottom:0; left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}


    /*---------------*/
    /*  Connections  */
    /*---------------*/


.board_connection {
    cursor: pointer;
    position: absolute;
    height:4px;
    background: #e8e8e8;
    border-radius: 3px;
}
.board_connection:hover {
    background: gray;
}


    /*-----------*/
    /*  Dialogs  */
    /*-----------*/


.dialog {
    position: absolute;
    z-index: 10;
    border: 1px solid silver;
    background: #fff;
    padding: 4px;
    left: 20px;
    top: 20px;
}
.dialog_close-button {
    position:absolute;
    top:0;
    right:0;
    cursor: pointer;
    width:30px;
    height:30px;
    line-height: 30px;
    text-align: center;
}
.dialog_title {
    padding:8px 70px 8px 10px;
}

.dialog_body {

}
.dialog_row {
    margin-bottom:5px;
    padding:8px 10px;
    box-sizing: border-box;
}
.dialog_row.__active {
    cursor: pointer;
    border: 1px silver solid;
}
.dialog_row.__active:hover {
    background: silver;
}

input.__line-number {
    width:40px;
}